<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448065783615-4gjv8vu0c7i78flei42p1i86b5hn810v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448065783615-4gjv8vu0c7i78flei42p1i86b5hn810v</string>
	<key>API_KEY</key>
	<string>AIzaSyCbn2Vmpd3fiXQLbvlpL68Qdad4UnzVIsw</string>
	<key>GCM_SENDER_ID</key>
	<string>448065783615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.circle</string>
	<key>PROJECT_ID</key>
	<string>circle-c9110</string>
	<key>STORAGE_BUCKET</key>
	<string>circle-c9110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448065783615:ios:857b66a2b447b1f9e7f58a</string>
</dict>
</plist>